body{
    background-color: #222222;
    max-height: 100%;
}

#topbar{
    height: 80px;
    width: 100%;
    background-image: url("./topbar.png");

    justify-content: space-between;
    
    -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
}

.btn_topbar{
    margin: 20px 75px;
    width: 100px;
}

#logo {
    position: absolute;
    top: 30px;
    left: 30px;
}
