body{
    background-color: #222222;
}

#topbar{
    height: 80px;
    width: 100%;
    background-image: url("./topbar.png");
    -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
    max-height: 80px;

}

.btn_space{
    border: none;
    background-color: transparent;
    padding: 0 35px;
}

.topbar_buttons {
    position: absolute;
    top: 20px;
    left: 60px;
}

.btn_topbar{
    margin: 0 10px;
    width: 100px;
}

#logo {
    position: absolute;
    top: 30px;
    left: 30px;
}
